* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	font-size: 62.5%;
	/*font-size: 50%;*/

	font-family: "Montserrat", sans-serif;
	/*font-family: 'Cormorant', serif;*/
}

body {
	font-size: 1.6rem;
	font-weight: 400;
}
